<div class="page-content">

  <!-- Page title -->
  <div class="page-title">
    <div class="row justify-content-between align-items-center">
      <div class="mb-3 col-md-6 mb-md-0">
        <h5 class="mb-0 text-white h3 font-weight-400">Welcome,
          {{user.firstname}}
          {{user.lastname}}!</h5>
      </div>
    </div>
  </div>
  <div>
  </div>
  <div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="alert alert-modern alert-primary">

        <span class="badge badge-primary badge-pill">
          New
        </span>
        <span class="alert-content">Welcome to
          {{websiteName}}
          with a lot of Security Features</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="nk-block-head-content">
                <h5 class="text-primary h5">Account Summary</h5>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h6 class="mb-1 text-muted">Account balance</h6>
                      <span
                        class="mb-0 h5 font-weight-bold"
                      >${{user.balance}}</span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="text-white icon bg-gradient-primary rounded-circle icon-shape"
                      >
                        <i class="fa fa-coins"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">

                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h6 class="mb-1 text-muted">Total Profit</h6>
                      <span
                        class="mb-0 h5 font-weight-bold"
                      >${{user.profit}}</span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="text-white icon bg-gradient-primary rounded-circle icon-shape"
                      >
                        <i class="fa fa-coins"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h6 class="mb-1 text-muted">Trade Bonus</h6>
                      <span
                        class="mb-0 h5 font-weight-bold"
                      >${{user.bonus}}</span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="text-white icon bg-gradient-primary rounded-circle icon-shape"
                      >
                        <i class="fa fa-gift"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h6 class="mb-1 text-muted">Active Investment</h6>
                      <span
                        class="mb-0 h5 font-weight-bold"
                      >${{user.active_investment}}</span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="text-white icon bg-gradient-primary rounded-circle icon-shape"
                      >
                        <i class="fa fa-gifts"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{! <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h6 class="mb-1 text-muted">Total Deposit</h6>
                      <span class="mb-0 h5 font-weight-bold">
                        <span class="mb-0 h5 font-weight-bold">$0.00</span>
                      </span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="text-white icon bg-gradient-primary rounded-circle icon-shape"
                      >
                        <i class="fa fa-arrow-alt-circle-down"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h6 class="mb-1 text-muted">Total Withdrawal</h6>
                      <span class="mb-0 h5 font-weight-bold">$0.00</span>
                    </div>
                    <div class="col-auto">
                      <div
                        class="text-white icon bg-gradient-primary rounded-circle icon-shape"
                      >
                        <i class="fa fa-arrow-circle-up"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> }}
          </div>

          <div class="mt-4 row">
            <div class="col-12">
              <div class="mt-4 row">
                <div class="col-md-12">
                  <div class="py-4 card">
                    <div class="text-center card-body">
                      <h1>
                        <i class="fa fa-coins" style="font-size: 1.5em;"></i>
                      </h1>
                      <p>Fund your account to start investing and earning</p>
                      <p>Your current balance: ${{user.balance}}</p>
                      <a
                        href="/dashboard/deposit"
                        class="px-3 btn btn-success"
                      >Proceed to make deposit</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-4 row">
            <div class="col-12">
              <div class="nk-block-head-content">
                <h6 class="text-primary h5">Recent transactions
                </h6>
              </div>
            </div>
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="mb-2 text-right">
                    <a href="/dashboard/activities?history=transaction">
                      <i class="fa fa-clipboard"></i>
                      View all transactions</a>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="bg-light">
                          <th>Date</th>
                          <th>Amount</th>
                          <th>Transaction Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each transactions}}
                          <tr>
                            <td>{{date}}</td>
                            <td>{{amount}}</td>
                            <td>{{status}}</td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="mt-4 row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="text-black">Refer Us & Earn</h5>
                  <p>Use the below link to invite your friends.</p>
                  <div class="mb-3 input-group">
                    <input
                      type="text"
                      class="form-control myInput readonly"
                      value="https://geminiinvestments.co.uk/register?r={{user.email}}"
                      id="reflink"
                      readonly
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-primary"
                        onclick="myFunction()"
                        type="button"
                      >
                        <i class="fa fa-copy"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

{{! end of section }}

<div class="row card">

  <div class="col-sm-12 card-body" style="margin-top: 2em; margin-bottom: 2em;">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a
          href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/"
          rel="noopener"
          target="_blank"
        ><span class="blue-text">Cryptocurrency Markets</span></a>
        by TradingView</div>
      <script
        type="text/javascript"
        src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js"
        async
      >
        { "width": "100%", "height": "490", "defaultColumn": "overview",
        "screener_type": "crypto_mkt", "displayCurrency": "USD", "colorTheme":
        "dark", "locale": "en" }
      </script>
    </div>
    <!-- TradingView Widget END -->
  </div>

  <div class="col-sm-12 card-body" style="margin-top: -4em">
    <div class="row align-items-center">
      <div class="col">
        <div style="height: 600px;">
          <script
            type="text/javascript"
            src="https://s3.tradingview.com/tv.js"
          ></script>
          <script type="text/javascript">

            new TradingView.widget({ "autosize": true, "symbol":
            "COINBASE:BTCUSD", "interval": "1", "timezone": "Etc/UTC", "theme":
            "dark", "style": "1", "locale": "en", "toolbar_bg": "#4f4f4f", });
          </script>

          <!-- TradingView Widget END -->
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="row">

      <div class="col-lg-6 mb-4">
        <div class="card text-white">
          <div class="card-body">
            <script
              type="text/javascript"
              src="https://files.coinmarketcap.com/static/widget/currency.js"
            ></script>
            <div
              class="coinmarketcap-currency-widget"
              data-currencyid="1"
              data-base="USD"
              data-secondary="USD"
              data-ticker="true"
              data-rank="false"
              data-marketcap="false"
              data-volume="false"
              data-statsticker="true"
              data-stats="USD"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>