<section class="wrapper">

  <div class="abt-lp">
    <h1 class="about-main-title">
      " We make trading available for everybody"
    </h1>
  </div>

  <section class="container p-20">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="abt-building">
          <img src="/asset-folder/images/about/about-building.jpg" />
        </div>

        <div class="p-20"> </div>
        <div class="abt-us-write">
          <h1 class="heading-about">
            <span> About </span>
          </h1>
          <br />
          <span class="lite-ash">
            {{websiteName}}
            is founded with vision to create 100% transparent digital trading
            experience for its clients.
          </span>
          <br />
          <br />
          <span class="lite-ash">
            We provide easy to use trading platform and spend lots of time
            providing education for our customers.
          </span>
          <br />
          <br />
          <span class="lite-ash">
            Our company is interested in successful and prosperous traders who
            will create high trading volume. We are proud that we helped many
            customers to make revenue.
          </span>
        </div>

      </div>

      <div class="col-md-6 col-sm-12">
        <div class="abt-us-write">
          <h1 class="our-value">
            <span> Our values </span>
            <div class="p-20"> </div>
          </h1>
          <span class="abt-number"> 01 </span>
          <span class="lite-ash abt-us-2">
            <b class="white"> Clients:</b>
            Providing best customer service is our primary value. More than 100
            account managers are focused on needs of our clients
          </span>
          <div class="p-20"> </div>
          <span class="abt-number"> 02 </span>
          <span class="lite-ash abt-us-2">
            <b class="white"> Reliability:</b>
            Being industry leader we provide our clients with extra solidity. We
            are doing more than anyone else to satisfy needs of our clients.
          </span>
          <div class="p-20"> </div>
          <span class="abt-number" style="line-height: 125px;"> 03 </span>
          <span class="lite-ash abt-us-2">
            <b class="white"> Simplicity:</b>
            Everybody can become a trader with our easiest to use trading
            platform. ExpertOption is available on all modern platforms: Web,
            Windows, MacOS, iPhone, iPad and Android.
          </span>
          <div class="p-20"> </div>
          <span class="abt-number"> 04 </span>
          <span class="lite-ash abt-us-2">
            <b class="white"> Speed:</b>
            We provide fastest trading using cutting-edge technologies. No
            delays in order executions and lags in user interface.
          </span>
        </div>
      </div>
    </div>

  </section>
  <div class="col-md-8 col-sm-12" style="margin: 40px auto 20px auto;">
    <br />
    <h1 class="text-center"> <b> About Our Company </b></h1>
    <br />
    <p class="t-p text-center">
      {{websiteName}}
      is an Optimal Wealth Management Company with emphasis on Wealth
      Management, Wealth Creation, Trades and Digital Assets usage. We offer
      various insured services capable of generating and returning good profit
      yield on crypto assets in the Blockchain through trading on a wide range
      of Instrument Categories.
      {{websiteName}}
      has qualified financiers/traders that manage and provide financial
      consulting services to her investors. We pride ourselves with a world
      class professional customer service, unique trading strategies, optimum
      transparency and fidelity. Funds Invested with
      {{websiteName}}
      can with Withdrawn, Transfered or Reinvested at will.</p>
  </div>
  <div class="clear-fix"></div>

  <section class="col-md-12 col-sm-12">
    <div class="cert">
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h4>
          <img
            src="/asset-folder/images/about/icons/icon-vanuatu.svg"
            alt="{{websiteName}} Multiplatform"
          />
          Multiplatform
        </h4>
        <p class="lite-ash">Our trading platform is available on all devices</p>
      </div>

      <div class="col-md-4 col-sm-12">
        <h4>
          <img
            src="/asset-folder/images/about/icons/icon-vfrs-bit.svg"
            alt="{{websiteName}}  Security standards "
          />
          Security standards
        </h4>
        <p class="lite-ash">Verified by Visa and MasterCard All data is
          encrypted with strongest cryptographic algorithm</p>
      </div>

      <div class="col-md-4 col-sm-12">
        <h4>
          <img
            src="/asset-folder/images/about/icons/icon-lock.svg"
            alt="{{websiteName}} Accurate quotes"
          />
          Accurate quotes
        </h4>
        <p class="lite-ash">
          Real-time market data provided by leading analytical agencies
        </p>
      </div>

    </div>
  </div>

  <div class="container" style="padding: 20px;">
    <h2 class="text-center"> <b> Our Team </b></h2>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="abt-img">
          <img src="/asset-folder/images/amanda.jpg" class="img-thumbnail" />
        </div>
        <h6 class="text-center"><b> Amanda Albert </b> </h6>
        <p class="text-center our-team-p"> Account Manager </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="abt-img">
          <img
            src="/asset-folder/images/person-img-3.jpg"
            class="img-thumbnail"
          />
        </div>
        <h6 class="text-center"><b> Jospeh Mayer</b> </h6>
        <p class="text-center our-team-p">
          Lead Admin & Head of Recruitments
        </p>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="abt-img">
          <img
            src="/asset-folder/images/person-img-4.jpg"
            class="img-thumbnail"
          />
        </div>
        <h6 class="text-center"><b> Tommy Atkins </b> </h6>
        <p class="text-center our-team-p">Consultant </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12" style="padding: 5em">
        {{!-- <img src="/asset-folder/images/certificate.png" alt="certificate" /> --}}
      </div>

      <div class="col-md-6 col-sm-12" style="padding: 60px; ">
        <h3>
          <i class="fab fa-artstation" style="color:#52afee;"></i>
          <b> Client oriented </b></h3>
        <p class="t-p">
          We serve as if we are serving ourselves, we value the feedback and use
          it to improve our work.</p>
        <br />
        <h3>
          <i class="fab fa-artstation" style="color:#52afee;"></i><b>
            Good RIO Oriented</b></h3>
        <p class="t-p">
          We carefully chose the best and most profitable trading methods to get
          amazing results.</p>
        <br />
        <h3><i class="fab fa-artstation" style="color:#52afee;"></i>
          <b> Expansion / Growth </b></h3>
        <p class="t-p">
          We make ourselves known in the community; we create long term
          relations, while constantly expanding.
          <br />Therefore, we are always bringing in more people to work for us.</p>
        <br />
      </div>
    </div>
  </div>
</section>