<section class="single-item">
<div class="slider-img1">
<div class="row">
<div class="col-md-6 col-sm-12">
<h1 class="slide-h1" data-aos="fade-up">
<span style="font-weight: 700"> Highly Qualified <br />
Customer Support Department </span>
</h1>
<p class="display-none-mobile">
Boost your profits with the power of 100X leverage. Go Long/Short on a secure and ultra-fast platform.
</p>
<a href="trade.html">
<div class="create-acc c-sign-up">
<img src="/asset-folder/images/icon/b-chart.png" class="float-left"> <p> View Live Trade </p>
</div>
</a>
<div class="p-20"> </div>
<br />
<div class="learn-btc">
<button class="play-btn float-left" type="button" data-toggle="modal" data-target="#exampleModalCenter">
<img src="/asset-folder/images/icon/play-button.svg">
</button>
<span> Click here to learn about bitcoin </span>
</div>
</div>


<div class="col-md-6 col-sm-12 nav-back mobile-none">

<div class="tradingview-widget-container ">
<div class="tradingview-widget-container__widget display-none-mobile"></div>
<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
              {
              "colorTheme": "dark",
              "dateRange": "12m",
              "showChart": true,
              "locale": "en",
              "largeChartUrl": "",
              "isTransparent": true,
              "width": "100%",
              "height": "500",
              "plotLineColorGrowing": "rgba(25, 118, 210, 1)",
              "plotLineColorFalling": "rgba(25, 118, 210, 1)",
              "gridLineColor": "rgba(42, 46, 57, 1)",
              "scaleFontColor": "rgba(120, 123, 134, 1)",
              "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
              "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
              "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
              "tabs": [
                {
                  "title": "Indices",
                  "symbols": [
                    {
                      "s": "OANDA:SPX500USD",
                      "d": "S&P 500"
                    },
                    {
                      "s": "OANDA:NAS100USD",
                      "d": "Nasdaq 100"
                    },
                    {
                      "s": "FOREXCOM:DJI",
                      "d": "Dow 30"
                    },
                    {
                      "s": "INDEX:NKY",
                      "d": "Nikkei 225"
                    },
                    {
                      "s": "INDEX:DEU30",
                      "d": "DAX Index"
                    },
                    {
                      "s": "OANDA:UK100GBP",
                      "d": "FTSE 100"
                    }
                  ],
                  "originalTitle": "Indices"
                },
                {
                  "title": "Commodities",
                  "symbols": [
                    {
                      "s": "CME_MINI:ES1!",
                      "d": "E-Mini S&P"
                    },
                    {
                      "s": "CME:6E1!",
                      "d": "Euro"
                    },
                    {
                      "s": "COMEX:GC1!",
                      "d": "Gold"
                    },
                    {
                      "s": "NYMEX:CL1!",
                      "d": "Crude Oil"
                    },
                    {
                      "s": "NYMEX:NG1!",
                      "d": "Natural Gas"
                    },
                    {
                      "s": "CBOT:ZC1!",
                      "d": "Corn"
                    }
                  ],
                  "originalTitle": "Commodities"
                },
                {
                  "title": "Bonds",
                  "symbols": [
                    {
                      "s": "CME:GE1!",
                      "d": "Eurodollar"
                    },
                    {
                      "s": "CBOT:ZB1!",
                      "d": "T-Bond"
                    },
                    {
                      "s": "CBOT:UB1!",
                      "d": "Ultra T-Bond"
                    },
                    {
                      "s": "EUREX:FGBL1!",
                      "d": "Euro Bund"
                    },
                    {
                      "s": "EUREX:FBTP1!",
                      "d": "Euro BTP"
                    },
                    {
                      "s": "EUREX:FGBM1!",
                      "d": "Euro BOBL"
                    }
                  ],
                  "originalTitle": "Bonds"
                },
                {
                  "title": "Forex",
                  "symbols": [
                    {
                      "s": "FX:EURUSD"
                    },
                    {
                      "s": "FX:GBPUSD"
                    },
                    {
                      "s": "FX:USDJPY"
                    },
                    {
                      "s": "FX:USDCHF"
                    },
                    {
                      "s": "FX:AUDUSD"
                    },
                    {
                      "s": "FX:USDCAD"
                    }
                  ],
                  "originalTitle": "Forex"
                }
              ]
            }
              </script>
</div>

</div>
</div>

</div>

<div class="slider-img2">
<div class="row">
<div class="col-md-5 col-sm-12">
<h1 class="slide-h1">
<span style="font-weight: 700"> RELIABLE, SIMPLE AND INNOVATIVE
</h1>
<p class="display-none-mobile">
Trade Cryptocurrencies, Stock indexes, Commodities and Forex with a single Forex-based platform
</p>
<div class="p-20"> </div>
<a href="/login">
<div class="create-acc c-sign-up">
<img src="/asset-folder/images/icon/b-chart.png" class="float-left"> <p> Login </p>
</div>
</a>
</div>


<div class="col-md-7 col-sm-12 ">
<img src="/asset-folder/images/slider/slider.png">
</div>
</div>

</div>

<div class="slider-img3">
<div class="row">
<div class="col-md-5 col-sm-12">
<h1 class="slide-h1">One low fee More great <br />
<span style="font-weight: 600">trading with {{websiteName}}</span>
</h1>
<p class="display-none-mobile">
Find your trading opportunity in 3 easy steps
</p>
<ul class="slider-li">
<li> <i class="fas fa-check" style="color: #52afee"> </i> &nbsp Open Account</li>
<li> <i class="fas fa-check" style="color: #52afee"> </i> &nbsp Deposit </li>
<li> <i class="fas fa-check" style="color: #52afee"> </i> &nbsp Start Trading </li>
</ul>
<br />
<a href="/register">
<div class="create-acc lt-blue-bg">
<img src="/asset-folder/images/icon/b-chart.png" class="float-left"> <p> Start Earning </p>
</div>
</a>
</div>


<div class="col-md-7 col-sm-12 ">
<img src="/asset-folder/images/slider/3-Assets.png">
</div>
</div>

</div>

</section>


<div class="tradingview-widget-container">
<div class="tradingview-widget-container__widget"></div>
<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener" target="_blank"><span class="blue-text">Market Data</span></a> by TradingView</div>
<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
              {
              "colorTheme": "dark",
              "dateRange": "12m",
              "showChart": true,
              "locale": "en",
              "largeChartUrl": "",
              "isTransparent": true,
              "width": "100%",
              "height": "500",
              "plotLineColorGrowing": "rgba(25, 118, 210, 1)",
              "plotLineColorFalling": "rgba(25, 118, 210, 1)",
              "gridLineColor": "rgba(42, 46, 57, 1)",
              "scaleFontColor": "rgba(120, 123, 134, 1)",
              "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
              "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
              "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
              "tabs": [
                {
                  "title": "Indices",
                  "symbols": [
                    {
                      "s": "OANDA:SPX500USD",
                      "d": "S&P 500"
                    },
                    {
                      "s": "OANDA:NAS100USD",
                      "d": "Nasdaq 100"
                    },
                    {
                      "s": "FOREXCOM:DJI",
                      "d": "Dow 30"
                    },
                    {
                      "s": "INDEX:NKY",
                      "d": "Nikkei 225"
                    },
                    {
                      "s": "INDEX:DEU30",
                      "d": "DAX Index"
                    },
                    {
                      "s": "OANDA:UK100GBP",
                      "d": "FTSE 100"
                    }
                  ],
                  "originalTitle": "Indices"
                },
                {
                  "title": "Commodities",
                  "symbols": [
                    {
                      "s": "CME_MINI:ES1!",
                      "d": "E-Mini S&P"
                    },
                    {
                      "s": "CME:6E1!",
                      "d": "Euro"
                    },
                    {
                      "s": "COMEX:GC1!",
                      "d": "Gold"
                    },
                    {
                      "s": "NYMEX:CL1!",
                      "d": "Crude Oil"
                    },
                    {
                      "s": "NYMEX:NG1!",
                      "d": "Natural Gas"
                    },
                    {
                      "s": "CBOT:ZC1!",
                      "d": "Corn"
                    }
                  ],
                  "originalTitle": "Commodities"
                },
                {
                  "title": "Bonds",
                  "symbols": [
                    {
                      "s": "CME:GE1!",
                      "d": "Eurodollar"
                    },
                    {
                      "s": "CBOT:ZB1!",
                      "d": "T-Bond"
                    },
                    {
                      "s": "CBOT:UB1!",
                      "d": "Ultra T-Bond"
                    },
                    {
                      "s": "EUREX:FGBL1!",
                      "d": "Euro Bund"
                    },
                    {
                      "s": "EUREX:FBTP1!",
                      "d": "Euro BTP"
                    },
                    {
                      "s": "EUREX:FGBM1!",
                      "d": "Euro BOBL"
                    }
                  ],
                  "originalTitle": "Bonds"
                },
                {
                  "title": "Forex",
                  "symbols": [
                    {
                      "s": "FX:EURUSD"
                    },
                    {
                      "s": "FX:GBPUSD"
                    },
                    {
                      "s": "FX:USDJPY"
                    },
                    {
                      "s": "FX:USDCHF"
                    },
                    {
                      "s": "FX:AUDUSD"
                    },
                    {
                      "s": "FX:USDCAD"
                    }
                  ],
                  "originalTitle": "Forex"
                }
              ]
            }
              </script>
</div>


<section class="container">

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLongTitle"> Learn About Forex</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="desktop-wrapper">
<iframe src="https://www.youtube.com/embed/Gc2en3nHxA4" allow="autoplay; encrypted-media" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
</div>
...
</div>
</div>
</div>
</div>


<link rel="stylesheet" href="/asset-folder/aos/dist/aos.css" />
</section> 

<section class="container">
<h3 class="text-center" data-aos="fade-right"> How it works </h3>
<br />
<div class="container how-it-work" data-aos="fade-up">
<div class="row">
<div class="col-md-4 col-sm-12 how-it-work-inner">
<h5> <span> <img src="/asset-folder/images/icon/deposit.svg"> </span> Deposit</h5>
<p class="lite-ash">
Open real account and add funds. We work with more than 20 payment systems.
</p>
</div>
<div class="col-md-4 col-sm-12 how-it-work-inner">
<h5> <span> <img src="/asset-folder/images/icon/choose.svg"> </span> Trade</h5>
<p class="lite-ash">
Trade any of 100 assets and stocks. Use technical analysis and trade the news
</p>
</div>
<div class="col-md-4 col-sm-12 how-it-work-inner">
<h5> <span> <img src="/asset-folder/images/icon/withdraw-small.svg"> </span> Withdraw</h5>
<p class="lite-ash">
Get funds easily to your bank card or e-wallet. We take no commission.
</p>
</div>
</div>
</div>
</section>


<section class="container" data-aos="fade-up">
<h1>
<span>
<img src="/asset-folder/images/icon/features.svg">
</span>
Features
</h1>
<div class="row">
<div class="col-md-6 col-sm-12">
<p class="lite-ash">
We provide fastest trading using modern technologies. No delays in order executions and most accurate quotes. Our trading platform is available around the clock and on weekends.
{{websiteName}} customer service is available 24/7. We are continuously adding new financial instruments.
</p>
</div>

<div class="col-md-6 col-sm-12">
<ul class="lite-ash features-list">
<li> Technical analysis tools: 4 chart types, 8 indicators, trend lines </li>
<li> Social trading: watch deals across the globe or trade with your friends </li>
<li> Over 100 assets including popular stocks </li>
</ul>
</div>

</div>

</section>


<section class="card-layer">
<div class="ft-card-1 mobile-none" data-aos="fade-up"> </div>

<div class="ft-card-2" data-aos="fade-up"> </div>

<div class="ft-card-3 mobile-none" data-aos="fade-up"> </div>

</div>

</section>

<section class="container">
<div class="row">
<div class="col-md-6 col-sm-12" data-aos="fade-right">
<h1> Trade Forex, S&P 500, Gold, EURUSD and <br />
30+ assets
</h1>
<p>
Get immediate access to cryptocurrencies, stock indices, commodities and forex with a single Forex-based platform
</p>
<a href="/register">
<button type="button" class="btn btn-primary">Open Account For Free </button>
</a>
<br />
</div> 
<div class="col-md-6 col-sm-12 trade-instr table-responsive" data-aos="fade-left">
<table class="table in-table lite-ash">
<thead>
<tr>
<th scope="col">Instrument</th>
<th scope="col">Leverage</th>
<th scope="col">Instrument</th>
<th scope="col">Leverage</th>
</tr>
</thead>
<tbody>
<tr class="ash-bg">
<td> <img src="/asset-folder/images/icon/instruments/btc.svg" alt="Bitcoin" class="m-4-neg"> <span> Bitcoin </span> </td>
<td>100X</td>
<td> <img src="/asset-folder/images/icon/instruments/btc.svg" alt="fx" class="m-4-neg"> EURUSD </td>
<td> 1000X </td>
</tr>
<tr class="lite-ash-bg">
<td> <img src="/asset-folder/images/icon/instruments/eth.svg" alt="Ethereum " class="m-4-neg"> <span> Ethereum</span> </td>
<td>100X</td>
<td> <img src="/asset-folder/images/icon/instruments/graph.svg" alt="S&P 500" class="m-4-neg"> S&P 500 </td>
<td> 100X </td>
</tr>
<tr class="ash-bg">
<td> <img src="/asset-folder/images/icon/instruments/ltc.svg" alt="Litecoin" class="m-4-neg"> <span> Litecoin </span> </td>
<td>100X</td>
<td> <img src="/asset-folder/images/icon/instruments/gold.svg" alt="GOLD" class="m-4-neg"> GOLD </td>
<td> 5000X </td>
</tr>
<tr class="lite-ash-bg">
<td> <img src="/asset-folder/images/icon/instruments/ripple.svg" alt="Ripple " class="m-4-neg"> <span> Ripple</span> </td>
<td>100X</td>
<td> <img src="/asset-folder/images/icon/instruments/oil.svg" alt="CRUDE OIL" class="m-4-neg"> CRUDE OIL </td>
<td> 100X </td>
<tr class="ash-bg">
<td> <img src="/asset-folder/images/icon/instruments/ltc.svg" alt="EOS" class="m-4-neg"> <span> EOS </span> </td>
<td>100X</td>
<td> <img src="/asset-folder/images/icon/instruments/graph.svg" alt="JAPAN" class="m-4-neg"> JAPAN </td>
<td> 5000X </td>
</tr>
</tr>
</tbody>
</table>
<a href="trade.html" class="text-center lite-ash"> See all assets </a>
</div>
</div> 
</section>

<div class="p-20"> </div>


<div class="m-20" data-aos="fade-up">
<center>
<a href="/register">
<button type="button" class="btn btn-primary">Setup Your Trading Account </button>
</a>
</center>
<br />
<p class="text-center"> It only takes 40 seconds. No KYC required.</p>
</div>

<div class="tradingview-widget-container__widget"></div>
<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-forex-cross-rates.js" async>
            {
            "width": "100%",
            "height": "400",
            "colorTheme": "dark",
            "currencies": [
              "EUR",
              "USD",
              "JPY",
              "GBP",
              "CHF",
              "AUD",
              "CAD",
              "NZD",
              "CNY"
            ],
            "locale": "en"
          }
            </script>
</div>




<section class="container-fluid abt-body">
<div class="container">
<h2> Profit from Market Ups & Downs </h2>
<div class="row">
<div class="col-md-4 col-sm-12 p-20">
<div class="p-chart">
<img src="/asset-folder/images/higher-chart.svg">
</div>
</div> 
<div class="col-md-4 col-sm-12">
<div class="">
<p class="white p-text">
{{websiteName}} allow you to actively trade most popular cryptocurrencies such as Bitcoin, Ethereum, Ripple, Litecoin and more, profit from market rallies
and declines, or hedge your existing cryptocurrency holdings
</p>
<a href="/register">
<button type="button" class="btn btn-primary">Setup Your Trading Account </button>
</a>
</div>
</div> 
<div class="col-md-4 col-sm-12 p-20">
<div class="p-chart">
<img src="/asset-folder/images/lower-chart.svg">
</div>
</div> 
</div>
</div>
<div style="padding: 20px"></div>
</section>


<section class="container-fluid ">
<h3 style="text-align: center;"> Our Trading Account Types </h3>
 <div class="container-fluid">
<div class="row" style="padding: 20px;">
<div class="col-lg-3 col-md-6 col-sm-12 plan-wrap">
<div class="col-plan-inner">
<div class="col-plan-head">
<div style="padding: 10px;"> </div>
<h2> STARTER </h2>
<p> Within 14 trading days. </p>
</div>
<p class="plan-text"><span class="lt-blue"> DAILY </span> RETURN </p>
<p class="plan-text"> Compounding <span class="lt-blue"> Total of </span> 35% </p>
<p class="plan-text"> <span class="lt-blue"> HASHING FOR</span> 7 DAYS </p>

<div class="min-price float-left">
<b>MINIMUM</b><br>
<span class="lt-blue"> <b> $ 500</b> </span>
</div>

<div class="min-price float-right">
<b>MAXIMUM</b><br>
<span class="lt-blue"> <b> $ 4999</b> </span>
</div>

<div class="clearfix"></div>

<div class="container" style="padding:0 30px;">
<center>
<input type="text" id="amount-starter" style="background: none; border: none; color: #fff; outline: none; text-align: center;">
</center>
<br />
<div id="slider-starter" style="width: 100%;
                  height: 13px;
                  border-radius: 5px;
                  background-color: #52afee;
                  box-shadow: inset 0 3px 18px rgba(0,0,0,0.6);
                  outline: none;"> </div>


</div>

<br />




<a href="/register?package=starter">
<div class="plan-signup">
<center>
Sign up &nbsp <i class="fas fa-user dark-gold"></i>
</center>
</div>
</a>
</div>
</div> 

<div class="col-md-3 col-sm-12 plan-wrap">
<div class="col-plan-inner">
<div class="col-plan-head">
<div style="padding: 10px;"> </div>
<h2> SILVER </h2>
<p> 10% Daily </p>
</div>
<p class="plan-text"><span class="lt-blue"> DAILY </span> RETURN </p>
<p class="plan-text"> Compounding <span class="lt-blue"> Total of </span> 60% </p>
<p class="plan-text"> <span class="lt-blue"> HASHING FOR</span> 6 DAYS </p>

<div class="min-price float-left">
<b>MINIMUM</b> <br>
<span class="lt-blue"> <b> $ 1000 </b> </span>
</div>

<div class="min-price float-right">
<b>MAXIMUM</b> <br>
<span class="lt-blue"> <b> $ 9999</b> </span>
</div>

<div class="clearfix"></div>

<div class="container" style="padding:0 30px;">
<center>
<input type="text" id="amount-silver" style="background: none; border: none; color: #fff; outline: none; text-align: center;">
</center>
<br />
<div id="slider-silver" style="width: 100%;
                  height: 13px;
                  border-radius: 5px;
                  background-color: #52afee;
                  box-shadow: inset 0 3px 18px rgba(0,0,0,0.6);
                  outline: none;"> </div>


</div>

<br />




<a href="/register?package=silver">
<div class="plan-signup">
<center>
Sign up &nbsp <i class="fas fa-user dark-gold"></i>
</center>
</div>
</a>
</div>
</div> 

<div class="col-md-3 col-sm-12 plan-wrap">
<div class="col-plan-inner">
<div class="col-plan-head">
<div style="padding: 10px;"> </div>
<h2> GOLD </h2>
<p>15% Daily </p>
</div>
<p class="plan-text"><span class="lt-blue"> DAILY </span> RETURN </p>
<p class="plan-text"> Compounding <span class="lt-blue"> Total of </span> 75% </p>
<p class="plan-text"> <span class="lt-blue"> HASHING FOR</span> 5 DAYS </p>

<div class="min-price float-left">
<b>MINIMUM</b> <br>
<span class="lt-blue"> <b> $ 2500 </b> </span>
</div>

<div class="min-price float-right">
<b>MAXIMUM</b> <br>
<span class="lt-blue"> <b> $ 20000</b> </span>
</div>

<div class="clearfix"></div>

<div class="container" style="padding:0 30px;">
<center>
<input type="text" id="amount-gold" style="background: none; border: none; color: #fff; outline: none; text-align: center;">
</center>
<br />
<div id="slider-gold" style="width: 100%;
                  height: 13px;
                  border-radius: 5px;
                  background-color: #52afee;
                  box-shadow: inset 0 3px 18px rgba(0,0,0,0.6);
                  outline: none;"> </div>


</div>

<br />


<a href="/register?package=gold">
<div class="plan-signup">
<center>
Sign up &nbsp <i class="fas fa-user dark-gold"></i>
</center>
</div>
</a>
</div>
</div> 

<div class="col-md-3 col-sm-12 plan-wrap">
<div class="col-plan-inner">
<div class="col-plan-head">
<div style="padding: 10px;"> </div>
<h2> PLATINUM </h2>
<p> 40% Daily </p>
</div>
<p class="plan-text"><span class="lt-blue"> DAILY </span> RETURN </p>
<p class="plan-text"> Compounding <span class="lt-blue"> Total of </span> 120% </p>
<p class="plan-text"> <span class="lt-blue"> HASHING FOR</span> 3 DAYS </p>

<div class="min-price float-left">
<b>MINIMUM</b> <br>
<span class="lt-blue"> <b> $ 15000 </b> </span>
</div>

<div class="min-price float-right">
<b>MAXIMUM</b> <br>
<span class="lt-blue"> <b> $ 50000</b> </span>
</div>

<div class="clearfix"></div>

<div class="container" style="padding:0 30px;">
<center>
<input type="text" id="amount-platinum" style="background: none; border: none; color: #fff; outline: none; text-align: center;">
</center>
<br />
<div id="slider-platinum" style="width: 100%;
                  height: 13px;
                  border-radius: 5px;
                  background-color: #52afee;
                  box-shadow: inset 0 3px 18px rgba(0,0,0,0.6);
                  outline: none;"> </div>


</div>

<br />




<div class="clearfix"></div>
<a href="/register?package=gold">
<div class="plan-signup">
<center>
Sign up &nbsp <i class="fas fa-user dark-gold"></i>
</center>
</div>
</a>
</div>
</div> 
</div> 

</div>

</section>

</section> 



<section class="container-fluid col-testimony">

<div class="container col-pay-meth">
<h5 class="text-center"> WE ACCEPT </h5>
<p class="text-center white"> Payment Methods for Deposit and withdrawal </p>
<div class="row">
<div class="col-md-3 col-sm-6">
<img src="/asset-folder/images/ethereum.png">
</div> 
<div class="col-md-3 col-sm-6">
<img src="/asset-folder/images/bitcoin.png">
</div> 
<div class="col-md-3 col-sm-6">
<img src="/asset-folder/images/litecoin.png">
</div> 
<div class="col-md-3 col-sm-6">
<img src="/asset-folder/images/perfect-money.png">
</div> 

</div> 
</div>

</section>

<section class="col-testimony-bg">
<div class="container-fluid">
<h3 class="text-center"> TESTIMONIES</h3>
<p class="text-center">
<i>Happy investors <span class="gold"> sharing</span> their testimonies </i>
</p class="text-center">
<div class="col-test-card">
<div class="col-test-bg">
<img src="/asset-folder/admin/testimony-images/8704.html" class="rounded-circle img-thumbnail float-left mum" width="100px">
<p class="text-left"> Wow I got quick results with bitcoin mining </p>
<h5 class="text-left"> Paul jackson</h5>
</div>
<div class="col-test-bg">
<img src="/asset-folder/admin/testimony-images/7330.html" class="rounded-circle img-thumbnail float-left mum" width="100px">
<p class="text-left"> Really thankful Halle Von was the manager she helped me through </p>
<h5 class="text-left"> Peter tor</h5>
</div>
<div class="col-test-bg">
<img src="/asset-folder/admin/testimony-images/4176.html" class="rounded-circle img-thumbnail float-left mum" width="100px">
<p class="text-left"> Wow I got my profits and paid all my debts in just two weeks </p>
<h5 class="text-left"> James Gilbert’s family </h5>
</div>
<div class="col-test-bg">
<img src="/asset-folder/admin/testimony-images/9976.html" class="rounded-circle img-thumbnail float-left mum" width="100px">
<p class="text-left"> I and my family want to thank you for helping us find a great opportunity to make money online. I’m very happy with how things are going.</p>
<h5 class="text-left"> Paul Jackson </h5>
</div>
<div class="col-test-bg">
<img src="/asset-folder/admin/testimony-images/3760.html" class="rounded-circle img-thumbnail float-left mum" width="100px">
<p class="text-left"> This is a realistic program for anyone looking for a site to invest. I got paid after two weeks, I’m so happy right now. Keep up the good work {{websiteName}}</p>
<h5 class="text-left"> Amanda John </h5>
</div>
<div class="col-test-bg">
<img src="/asset-folder/admin/testimony-images/1171.html" class="rounded-circle img-thumbnail float-left mum" width="100px">
<p class="text-left"> The best commercial agency, thank you so much I’m debt free </p>
<h5 class="text-left"> Sariah Williams </h5>
</div>
<div class="col-test-bg">
<img src="/asset-folder/admin/testimony-images/3036.html" class="rounded-circle img-thumbnail float-left mum" width="100px">
<p class="text-left"> Wow. I was scared when I made my first deposit, my profit started growing and after two weeks I made my withdrawals, I’m so so happy $22,000 profit. wow </p>
<h5 class="text-left"> Ariana David </h5>
</div>
<div class="col-test-bg">
<img src="/asset-folder/admin/testimony-images/2094.html" class="rounded-circle img-thumbnail float-left mum" width="100px">
<p class="text-left"> They offer more profitable returns than any other competitors. Their support and services are great and transparent. Thank you {{websiteName}} </p>
<h5 class="text-left"> Sarah Jackson </h5>
</div>
<div class="col-test-bg">
<img src="/asset-folder/admin/testimony-images/2017.html" class="rounded-circle img-thumbnail float-left mum" width="100px">
<p class="text-left"> Easy to use, Best account managers. You guys have it all. Thank you so much for the profits I’m happy I invested</p>
<h5 class="text-left"> Abraham Stay-son</h5>
</div>
<div class="col-test-bg">
<img src="/asset-folder/admin/testimony-images/3692.html" class="rounded-circle img-thumbnail float-left mum" width="100px">
<p class="text-left"> Started trading with {{websiteName}}, very easy to use for beginners, I just got my profit on my CashApp right now, Thanks so much, I will be having the best month ever. </p>
<h5 class="text-left"> Malik Garrett</h5>
</div>
</div> 
</div> 

{{!-- telegram link --}}
{{!-- <a href="https://t.me/+N9yOuZ9o1K45Mjgx" target="_blank">
<div class="view-vid">
<button class="play-btn float-left" type="button">
<img src="/asset-folder/images/icon/play-button.svg">
</button>
<span> Click here to join telegram group</span>
</div>
</a> --}}
<div class="clear-fix"> </div>


<marquee width="100%" direction="up" height="30%">
<div class="col-md-7 trade-option-1 table-responsive-sm">
<h4> <img src="/asset-folder/images/withdrawals.png"> LATEST WITHDRAWALS </h4>
<table class="table" style="color: #fff;">
<thead class="t-color-1">
<tr>
<th scope="col">Gateway</th>
<th scope="col">Name </th>
<th scope="col">Amount</th>
</tr>
</thead>
<tbody>
<tr>
<td class="gold">Bitcoin </td>
<td> Wiiliams Rose </td>
<td class="gold">$90,000 </td>
</tr>
<tr>
<td class="gold">Bitcoin </td>
<td> Mary Greyson </td>
<td class="gold">$30 000 </td>
</tr>
<tr>
<td class="gold">Bank Transfer </td>
<td> Richard Melvin </td>
<td class="gold">$80 000 </td>
</tr>
<tr>
<td class="gold">Bitcoin </td>
<td> Mike peters </td>
<td class="gold">$34 400 </td>
</tr>
<tr>
<td class="gold">Bitcoin </td>
<td> Paul Jackson </td>
<td class="gold">$90 000 </td>
</tr>
<tr>
<td class="gold">Bitcoin </td>
<td> Peter Tor </td>
<td class="gold">$32 600 </td>
</tr>
<tr>
<td class="gold">Bitcoin </td>
<td> James Anderso </td>
<td class="gold">$45 200 </td>
</tr>
<tr>
<td class="gold">Bank Transfer </td>
<td> Anoi Luis </td>
<td class="gold">$90 000 </td>
</tr>
<tr>
<td class="gold">Bitcoin </td>
<td> Ken Mary </td>
<td class="gold">$56 800 </td>
</tr>
<tr>
<td class="gold">Bank Transfer </td>
<td> Rich Armando </td>
<td class="gold">$82 600 </td>
</tr>
<tr>
<td class="gold">Bitcoin </td>
<td> Anne Grant </td>
<td class="gold">$12 000 </td>
</tr>
<tr>
<td class="gold">Bank Transfer </td>
<td> Brie Smith </td>
<td class="gold">$16 500 </td>
</tr>
</tbody>
</table>
</div>
 </marquee> 


</section>
</div>