


{{!-- Add recent activities section --}}
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="jumbotron" style="background-color: white;">
            {{> _msg }}
            <h3><i class="fa fa-plus-circle text-danger"></i> ADD ACTIVITY</h3>
            <br><br>

            <div class="row">
                <div class="col-md-6">
                    <form action="/dashboard/manage/activity/add" method="POST">
                        <div class="form-group">
                            <label for="fn">First name</label>
                            <input type="text" class="form-control" name="firstname" id="fn" placeholder="First name">
                        </div>
                        <div class="form-group">
                            <label for="ln">Last name</label>
                            <input type="text" class="form-control" name="lastname" id="ln" placeholder="Last name">
                        </div>
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" name="country" id="country" placeholder="Country">
                        </div>
                        <div class="form-group">
                            <label for="amt">$ Amount</label>
                            <input type="text" class="form-control" name="amount" id="amt" placeholder="$ amount">
                        </div>
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" name="date" id="date">
                        </div>
                        <button class="btn btn-primary"><i class="fa fa-plus-circle"></i> ADD</button>
                    </form>
                    <br><br>
                </div>

                <div class="col-md-6">
                    <h4>Recently added by you</h4>

                    {{#if activities }}
                    {{#each activities }}
                    <div class="alert alert-success">
                        <p><i class="fa fa-check "></i> Successful withdrawal by {{firstname}} {{lastname}}</p>
                        <p><i class="fa fa-map-marker"></i> Country: {{country}}</p>
                        <p>Date: {{modified_date}}</p>
                        <p>Amount: ${{amount}}</p>
                        <br>
                        <form action="/dashboard/manage/activity/delete/{{ _id }}/?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
                        </form>
                    </div>
                    {{/each}}

                    {{ else }}
                    <div class="alert alert-warning">
                        No recent activity added by you.
                    </div>
                    {{/if}}
                </div>
            </div>


        </div>
    </div>
</div>
